body {
  text-align: center;
  background-image: url("../imgs/archiveImgs/greyBackground.jpg");
  background-repeat: no-repeat;
/*   background-color: rgb(244, 245, 246); */
  background-attachment: fixed;
  background-size: cover;
}

.welcome{
  text-align: center;
}

/* project styles */

.projects {
  text-align: left;
  padding: 0px 20px 0px;
}

.oldProjects {
  font-size: 25px;
  text-align: left;
}
.project-img {
  width: 13vw;
  float: right;
  padding: 5px;
}

.project-header {
  font-size: 33px;
}

.projects {
  padding: 0px 30% 0px;
  font-size: 20px;
}


@media only screen and (max-width: 425px){
  .navbar{
    display: block !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav{
    display: flex;
  }

  .navbar-brand{
    margin: 0;
    padding:  0 !important;
    padding-right: 0.5rem !important;
  }
}