body {
  text-align: center;
  /* background-image: linear-gradient(rgba(255, 255, 255, 0.91), rgba(255, 255, 255, 0.91)), URL("../imgs/opportunitiesImgs/binary.jpg"); */
  /*background-repeat: no-repeat;*/
  background-attachment: fixed;
  background-size: cover;
  /*display: flex;*/
}

/* why fundraising */

.fundraising_text{
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 0;
}


/* sponsers */
.sponsors_heading{
  font-size: 30px;
  padding-top: 0;
}

/* EMPOW */
.empow_text{
  text-align: left;
  position: relative;
}
.text{
  align-text: center;
  padding-left: 20%;
  padding-right: 20%;
  padding-bottom: 5%;
  padding-top: 1%;
}

.flyer{
  align-items: center;
  width: 55%;
  padding-left: 10%;
  padding-right: 10%;
}
.empow{
  display: flex;
  align-items: center;

  margin-left: 10%;
  margin-right: 10%;
  padding-left: 0;
  padding-right: 0;

}

.empow_flyer{
  width: 40%;
}


@media only screen and (max-width: 425px){
  .navbar{
    display: block !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  } 
  .nav{
    display: flex;
  }
  .navbar-brand{
    margin: 0;
    padding:  0 !important;
    padding-right: 0.5rem !important;
  }
}

