

.mainTitle {
  color: black;
  /* position: relative !important;
  top: 50%;
  left: 50%; */
}



.mainTitle {
  /* border: 2px black solid; */
  /* width: 40%; */
  /* text-align: center; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%;
}

.subHeading {
  margin-left: auto;
  margin-right: auto;
}

.info {
  /* text-align: left;
  padding-left: 10% !important; */
  text-align: center;
}

.mainContent {
  padding-top: 10%;
  overflow: hidden;
}

img {
  height: 50%;
}