body {
  text-align: center;
  background-image: url("imgs/greyBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.oldProjects {
  font-size: 25px;
  text-align: left;
}
