body{
  text-align: center;
  
  background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), url("imgs/tigerOrange.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-size: 40%;
  background-position: center;
  background-position-x: center;
  background-position-y: 60%;

  
  
}

.question1 {
  text-align: left;
}

@media only screen and (max-width: 425px){

  .navbar{
    display: block !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .nav{
    display: flex;
  }

  .navbar-brand{
  margin: 0;
  padding:  0 !important;
  padding-right: 0.5rem !important;

  }
}