body {
  padding-bottom: 6vh;
}

.faqHeading {
  text-align: center;
  /* margin: 10 0;
  display: block; */
}

.faqHeading h1 {
  display: block;
  padding: 4vh;
  margin-bottom: 0;
}

.faqHeading h3 {
  padding-bottom: 4vh;
  font-size: 1.25em;
  font-weight: 250;
  color: rgb(243, 243, 246);
}

ol{
  color: rgb(243, 243, 246)
}

/* .emailListBorder{
  border: 50px solid blue;
} */

.qCard {
  width: 31.33%;
  height: 275px;
  float: left;
  margin-left: 1% !important;
  margin-right: 1% !important;
  margin-bottom: 3% !important;
  margin-top: 1% !important;
  background-color: rgb(53, 54, 58) !important;
  box-shadow: 2px;
  border-color: rgb(150, 150, 150) !important;
  border-radius: 1.5%;
  border-style: solid;
  border-width: 1.5px;

  padding-top: 3vh;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-bottom: 3vh;
}

.qCard h5 {
  background-color: rgb(53, 54, 58) !important;
  font-weight: 600;
  color: rgb(243, 243, 246) 
}

.qCard p {
    background-color: rgb(53, 54, 58) !important;
  font-weight: 200;
  color: rgb(243, 243, 246) 
}

.qCard ol {
  font-weight: 200;
}

.questions {
  height: auto;
  padding-bottom: 10vh;

  margin-left: 17.5% !important;
  margin-right: 17.5% !important;

  width: 65vw;
  display: inline-block;


}

.forms {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;
  padding-top: 1vw;

  margin-left: 20vw;
  margin-right: 20vw;
  margin-top: 2vh;
  margin-bottom: 2vh;

  background-color: white;
  border-color: rgb(211, 211, 211);
  border-radius: 1.5%;
  border-style: solid;
  border-width: 1.5px;

}


.box {
  height: 5vh;
}




.serviceHeading {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;

  color: rgb(243, 243, 246) !important;
  background-color: rgb(53, 54, 58) !important;
}

.title {
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2.3em;

  color: rgb(243, 243, 246) !important;
}

.serviceFormInput {
  width: 100%;
  border: none;
  /* background: rgb(211, 211, 211); */
  background: rgb(150, 150, 150) !important;
  border-bottom: 1px solid black;
  text-align: left;
}

.formRow {
  padding-bottom: 2%;
}

.servicesendBtn {
  height: auto;
  width: 100%;
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  text-align: center;
  border: none;
  background: rgb(211, 211, 211);
  font-size: 1rem;
  font-weight: 300;
  color: rgb(51 51 51);
}

.textAreaInput {
  resize: none;
  /* height: 130px; */
}


.serviceFormLabel {
  font-size: 0.87rem;
  font-weight: 220;
}

.oval {
  background-color: rgb(53, 54, 58) !important;
  color: rgb(243, 243, 246);
  border-radius: 25px;
  text-align: start;
  padding: 10vh 3vh;
  margin: 5vh 5vh;
  box-sizing: border-box;


}

.col-md-8 {
  background-color: rgb(32, 33, 36) !important;

}


/* Sign Up for Updates Section */

.SignUp {
  border-top: solid 10px rgb(53, 54, 58) !important;
  border-to
  height: auto;
  background: rgb(32, 33, 36) !important;
  text-align: center;
  padding-bottom: 1vh;


}

.Heading {
  font-size: 2em;
  /* color: rgba(0, 0, 0, 0.75) !important; */
  color: rgb(243, 243, 246) !important;
  padding-top: 4vh;
  padding-bottom: 1.5vh;
  
}


.joinBtn {
  background-color: rgb(175, 175, 175) !important;
  /* border-style: 2px solid black; */
  font-size: 90%;
  text-align: center;
  margin-top: 3vh;
  color: rgb(51 51 51);
  font-weight: 300;
  padding: 0 !important;
  overflow: hidden;
}

.form1 {
  padding-right: 23%;
  padding-left: 23%;

}

.update {
  background: none;
  height: 45px;
}

::placeholder {
  color: rgb(15, 15 15, );
  font-size: 0.9rem;

}


.notText {
  height: 4vh;
}

.formcontent {
  width: 100%;
  border: none;
  background: rgb(150, 150, 150) !important;
  border-bottom: 1px solid black !important;
  text-align: left;
}

.serviceSection {
  /* border-top: solid rgb(53, 54, 58) !important;
  border-top-width: 10px; */

  border-top: solid 10px rgb(53, 54, 58) !important;
  background-color: rgb(53, 54, 58);


}


@media only screen and (max-width: 1200px) {
  .qCard {
    width: 48% !important;
    height: 275px;
    float: left;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-bottom: 3% !important;
    margin-top: 1% !important;

    background-color: white;
    box-shadow: 2px;
    border-color: rgb(150, 150, 150) !important;
    border-radius: 1.5%;
    border-style: solid;
    border-width: 1.5px;

    padding-top: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 3vh;
  }
}

@media only screen and (max-width: 700px) {

  .qCard {
    width: 100% !important;
    /* height: auto; */
    height: 275px;
    float: left;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-bottom: 3% !important;
    margin-top: 1% !important;

    background-color: white;
    box-shadow: 2px;
    border-color: rgb(150, 150, 150) !important;
    border-radius: 1.5%;
    border-style: solid;
    border-width: 1.5px;

    padding-top: 3vh;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 3vh;
  }

  .burning {
    padding-left: 3%;
    padding-right: 3%;
    /* color: rgb(243, 243, 246) !important; */
    /* color: blue; */
  }
}